<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="dynatrace-cordova-plugin"
    version="0.0.1">
    <name>Dynatrace</name>
    <description>Dynatrace Cordova Plugin</description>
	
    <js-module src="files/Javascript/Dynatrace.js" name="DynatraceJsBridge">
        <clobbers target="DynatraceJsBridge" />
    </js-module>
	
	<hook type="before_build" src="scripts/update-js.js"/>
	<hook type="after_build" src="scripts/close-log.js" />
	
    <!-- ios -->
    <platform name="ios">
        <framework src="libsqlite3.dylib" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libz.dylib" />
        <framework src="libc++.dylib" />
        <framework src="MessageUI.framework" />
        <framework src="WebKit.framework" />

        <header-file src="files/iOS/agent/Dynatrace.h" />
        <source-file src="files/iOS/agent/libDynatrace.a" framework="true" /> 
		
		<hook type="before_build" src="scripts/update-build-ios.js"/>
    </platform>
	<platform name="android">
		<lib-file src="files/Android/libs/Dynatrace.jar"/>
		<source-file src="other/DynatraceCordovaPlugin.java" target-dir="src/com/dynatrace/cordova/plugin" />
	
		<config-file target="config.xml" parent="/*">
			<feature name="DynatraceCordovaPlugin">
				<param name="android-package" value="com.dynatrace.cordova.plugin.DynatraceCordovaPlugin" />
			</feature>
		</config-file>
		
		<js-module src="other/DynatraceCordovaPlugin.js" name="DynatraceMobile">
			<clobbers target="DynatraceMobile" />
		</js-module>
		
		<hook type="after_compile" src="scripts/update-build-android.js"/>
	</platform>
	<platform name="windows">
	</platform>
</plugin>
